body{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: left;
	max-width:800px;
	margin: 0 auto;

}

div {
  height: 430px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-size: 9em;
	font-weight: 500;
}

h4{font-weight: 100;
	font-size: 3em;
	margin-top: 20px;
}
h5{
	text-align: justify;
	padding: 7px;
	font-size: 2.2em;
	font-weight: 100;
}
p {
  color: rgba(255,255,255,1);
  background: rgba(0, 0, 0, .75);
  font-size: 1.5em;
  margin-top: .5em;
  padding: 10px;
  height: 20px;
  font-weight:100;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #F34100;
}

header{
	text-align: center;
}

footer{
	background-color: #CCFFFF;
	bottom: 0px;
	width: 100%;
	height: 30px;
	padding-top:15px;
	margin-top: 10px;
	clear: both;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
}

ul {
		margin-top: 1em;
}

li{
	font-family: 'Oswald', sans-serif;
	display: inline;
	font-size: 5em;
	padding: 0 .25em;
}
.theSpins{
  background-image: url("https://dl.dropboxusercontent.com/u/3061181/theSpins_webIcon.jpg");
}
.lovelyRita{
  background-image: url("https://dl.dropboxusercontent.com/u/3061181/lovelyRita_origBkgnd.png");
}
.price {
  float: right;
}
small {
  opacity: 0;
}
.show-description p{
  height: 150px;
}
.show-description small{
  opacity: 1;
}

.about a{
	padding: 10px;
}

.ask h4{
	text-align: center;
}
.ask h2{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	margin-top:20px;
}
.theSpins a{
	color: white;
}

.theSpins a:hover{
	color: #F34100;
}


@media (max-width: 500px){
  h1 {
    font-size: 4.15em;
    margin: 20px 0;
    line-height: 40px;
  }
  h2 {
     font-size: 3.25em;
     margin: 20px 0px 30px 0;
  }
  h4{
  	font-size: 1.5em;
  }
  ul{
  	margin-top:8px;
  }
 
  li{
  	font-size: 2.25em;
  	margin: 0 8px;
  }
  div {
  height: 250px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
  margin: 20px 12px 0 12px;
  }
  p {
    font-size: 16.5px;
    line-height: 20px;
  }
  small {
    font-size: 16px;
  }
  .theSpins{
  background-image: url("https://dl.dropboxusercontent.com/u/3061181/theSpins_webIcon_sml.png");
}
  .lovelyRita{
  background-image: url("https://dl.dropboxusercontent.com/u/3061181/lovelyRita_origBkgnd_sml.png");
}
.ask h2{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	margin-top:15px;
}
}




/*font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;*/