body{
	font-family: 'Raleway Dots', sans-serif;
	background-color: #d8dfe8;
	text-align: center;
}
h1{
	font-size: 72px;
}
h2{
	font-size: 32pt;
	text-align: right;
}
h3{
	font-size: 27pt;
	text-align: left;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #808080;
}
article{
	width: 320px;
	height: 370px;
	margin: 22px;
	padding: 5px;
	background-color: #FFF999;
	float: left;
}
footer{
	background-color: #CCFFFF;
	bottom: 0px;
	width: 100%;
	height: 30px;
	padding-top:15px;
	margin-top: 10px;
	clear: both;

	text-align: center;
	font-size: 12px;
}
/* 'Poiret One' 'Megrim'*/